<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MY_TITLE</title>
    <style>
    img {
        width:600px;
        height:500px;
        border: 5px solid black;
    }
    #f1{
        border: 2px solid black;
        background-color: cyan;
    }
    </style>
    </head>
    <body>
    <center>
    <img src="{{url_for('static',filename='close-up-photography-of-parked-motorcycle-1413412.jpg')}}" align="middle">
   
    
    <p id="f1">This is the main video.</p>
   </center>
    </body>
</html>